@model List<ItemModel>

@{
    ViewData["Title"] = "Listings";
}

<h2>Listings</h2>

@Html.ActionLink("Create New Listing", "Create", "Listing", new { @class = "#" })

<form asp-controller="Listing" method="get" class="form-group">
    @Html.DropDownList("category1", new SelectList(@ViewBag.Categories), "Select category", new { @class = "form-control" })
    @Html.DropDownList("category2", new SelectList(@ViewBag.Categories), "Select category2", new { @class = "form-control" })
    @Html.DropDownList("category3", new SelectList(@ViewBag.Categories), "Select category3", new { @class = "form-control" })
    <input class="btn btn-primary" type="submit" value="Filter" />
</form>

@foreach (var item in @Model)
{
<div class="item-card">
    <h2>@item.Id</h2>
    <h2>@item.Name</h2>
    <h2>@item.Description</h2>
    <h2>@item.Price</h2>
    <h2>@item.Category.Name</h2>
    @Html.ActionLink("Details", "Details", "Listing", new { id = @item.Id })

    @foreach (var picture in @item.Pictures)
    {
    <img src="@picture.Url" alt="Item Picture" width="100" height="100" />
    }
</div>
}

<style>
    body {
        background-color: #e5e5e5;
    }

    .item-card {
        padding: 20px;
        background-color: white;
        border-radius: 3px;
        max-width: 400px;
        margin: 20px 0;
        
    }

    .form-control{
        margin: 20px 0;
     
    }
    
</style>